@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
* {
	box-sizing: border-box;
}
img{
	display:block;
	max-width: 100%;
}
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
}
.section__titulo{
	text-align: center;
	font-size: 40px;
	color: #a4d4ff;
}
/**************Estilos del header**************/
.header{
	height: 60px;
}
.header .contenedor{
	display:flex;
	justify-content:space-between;
	
}
.logo, .icon-menu {
	margin: 5px;
	color: #fcf5f5;
}
.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #a4d4ff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
    margin-left: auto;
    cursor:pointer;
	
}
#btn-menu{
	
	content: url('ruta-al-archivo/fontawesome-free-5.15.2-web/svgs/solid/home.svg');
	display: block;
	width: 40px;
	height: 40px;
}
/**************Estilos del menu****************/
.nav{
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link{
    display:block;
    padding: 20px;
    background: #a4d4ff;
    text-decoration: none;
    color: #fff;
}
.menu__link:hover, .select {
	background: #fff;
	color: #a4d4ff;

}
.mostrar{
	left: 0;
	transition: all 0.4s;
}
/*****************Estilos de banner**************/
.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000 ;
	margin-bottom: 20px;
}
.banner .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color:#fff;
	text-align: center;

}
.banner__txt{
    display: none;
}

/**************Estilos de info************/
.info__columna{
	background: #a4d4ff;
	color:#fff;
	padding: 15px;
	margin-bottom: 30px;
}
/**************Estilos de oraciones************/
.oracion__columna{
	position: relative;
	margin-bottom: 30px;
}
.oracion__descripcion{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.4);
	width: 60%;
	height: 100%;
	padding: 10px;
}
.oracion__titulo{
	font-size: 30px;
	margin: 5px 0;
}
/**************Estilos de footer************/
.footer{
	background: #333;
	color:#a4d4ff;
	padding: 10px;
	text-align: center;
}
.footer .social [class^="icon-"] {
	display:inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: #a4d4ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;

}
/**************Estilos responsive************/

@media(min-width:680px) {
	.logo {
		font-size: 40px;
	}
	.banner__titulo {
		font-size: 30px;
		margin:5px 0;
	}
	.banner__txt {
		display:block;
		font-size: 18px;
		margin: 7px 0;
	}
	.info {
		display:flex;
		justify-content: space-between;
		margin-top: -80px;
	}
	.info__columna {
		width: 32%;
	}
}